@model ESKOBSite.Viewmodel.CreateViewmodel
@{
    ViewBag.Title = "Task";
    if (Model.LoggedIn != null)
    {
        Layout = "~/Views/Shared/_Manager.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    ViewBag.Name = Model.Tenant.Name.ToLower();
    ViewBag.Reference = Model.Tenant.Reference.ToLower();
}

<form>
    <div class="crumb circleBorder">
        <a href="~/@Model.Tenant.Reference/ideas/idea/@Model.Idea.Id">Tasks</a>     •     <input type="text" id="title" class="titleInput" placeholder="Title">
    </div>

    <div class="panel idea wrap circleBorder">
        <div class="ideaDescription">
            <textarea id="description" class="descInput" placeholder="Description"></textarea>
        </div>
        <div class="bigMeta">
            <span class="metaText">

            </span>
            <div class="hashtags">
                <a href="#" class="hashtag new hashtagButton" data-toggle="tooltip" data-placement="bottom" title="Not Started">
                    NOT STARTED
                </a>
            </div><br />
            <input type="text" id="estimation" class="tagInput" placeholder="Time Estimation" />

            <div class="modal-footer">
                <a class="btn btn-primary pull-right" role="button" onclick="saveTask()">
                    Save changes
                </a>
            </div>
        </div>
    </div>
</form>


<script>
    var reference = "@(ViewBag.Reference)";

    function saveTask() {
        var title = document.getElementById("title").value;
        var description = document.getElementById("description").value;
        var estimation = document.getElementById("estimation").value;

        if (title == null || title == "") {
            alert("You're missing a title!");
            return;
        }

        if (title.length > 100) {
            alert("Titles can be a maximum of 100 characters");
            return;
        }

        if (description == null || description == "") {
            alert("You're missing a description!");
            return;
        }

        if (description.length > 1000) {
            alert("Descriptions can be a maximum of 1000 characters");
            return;
        }

        if (estimation == null || estimation == "") {
            alert("You're missing a time estimation!");
            return;
        }

        if (estimation.length > 10) {
            alert("Estimations can be a maximum of 10 characters");
            return;
        }

        var dataObject =
        {
            "Title": title,
            "Description": description,
            "Estimation": estimation,
            "IdeaId": @Model.Idea.Id,
            "CreatorId": @Model.LoggedIn.Id,
        };

        var dataJson = JSON.stringify(dataObject);

        $.ajax({
            type: "POST",
            url: "https://localhost:44377/" + reference + "/tasks",
            contentType: "application/json",
            data: dataJson,
            success: function (data, textStatus, xhr) {
                window.location.href = "/" + reference + "/ideas/idea/" + @Model.Idea.Id;
            }
        });
    }
</script>

